@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Source Sans 3', sans-serif;
}

.app_grid {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(20, 1fr);
    max-height: 100vh;
    max-width: 100vw;
}